.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cart{
  border-radius: 15px;
}

.subnav {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0
}

.subnav .content {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px
}

.subnav .content .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0
}

.subnav .content .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-right: 40px
}

.subnav .content .search-bar input {
  height: 40px;
  padding: 0 15px;
  border-radius: 8px 0 0 8px;
  border: solid 1px #e4e4e4;
  flex: 1;
  font-size: 16px
}

.subnav .content .search-bar i {
  height: 40px;
  width: 40px;
  background: #009EdB;
  color: #fff;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center
}

.subnav .content .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 400px
}

.subnav .content .help,.sub-navbar .content .auth a,.sub-navbar .content .cart a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500
}

.subnav .content .help i {
  color: #009EdB;
  margin-right: 10px
}

.subnav .content .auth a {
  color: #fff;
  margin: 0 5px
}

.subnav .content .cart {
  color: #fff;
  background: #009EdB;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px
}

.subnav .content .cart i,.sub-navbar .content .cart a {
  color: #fff;
  margin: 0 5px
}

a{
  color: #fff;
}

.subnav .hamburger-menu {
  margin-right: 40px
}

.subnav .hamburger-menu i {
  cursor: pointer;
  color: #009EdB
}

.subnav .category-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  list-style-type: none;
  height: 40px;
  font-weight: 500;
  transition: all .2s ease
}

.subnav .category-menu.closed {
  opacity: 0
}

.subnav .category-menu.closed li button {
  transform: scale(.01)
}

.subnav .category-menu li.is-active button {
  border-bottom: solid 2px var #009EdB
}

.subnav .category-menu li button {
  cursor: pointer;
  transition: all .1s ease;
  border: none;
  background: transparent;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: solid 2px transparent;
  transition: all .2s ease
}

.subnav .category-menu li button:active {
  transform: translateY(1px)
}

.about {
  width: 100%;
  max-width: 100vw;
  min-height: 350px;
  margin: 40px 0
}

.about .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 350px
}

.about .content h3 {
  margin: 10px 0 30px;
  font-size: 24px;
  font-weight: 600
}

.about .content .summary {
  display: flex;
  flex-direction: row;
  background: white;
  height: 330px;
  border: solid 1px #e0e0e0;
  border-radius: 15px;
}

.about .content .summary .text,.about .content .summary .media {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 330px
}

.about .content .summary .text {
  align-items: flex-start;
  padding: 28px 36px;
  color: var(--font-light)
}

.about .content .summary .text p {
  margin-bottom: 18px;
  font-size: 18px
}

.about .content .summary .media {
  background: #009EDB;
  height: 329px
}

.contact {
  width: 100%;
  max-width: 100vw;
  min-height: 350px;
  margin: 40px 0
}

.contact .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 350px
}

.contact .content h3 {
  margin: 10px 0 30px;
  font-size: 24px;
  font-weight: 600
}

.contact .content .summary {
  display: flex;
  flex-direction: row;
  background: #009edb;
  color: var(--pure-white);
  height: 330px;
  border: solid 1px #e0e0e0;
  overflow: visible;
  border-radius: 15px;
}

.contact .content .summary .info {
  padding: 28px 36px;
  color: var(--pure-white);
  list-style-type: none;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between
}

.contact .content .summary .info li {
  color: var(--pure-white);
  margin-bottom: 18px;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%
}

.contact .content .summary .info li .socials {
  color: var(--pure-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px
}

.contact .content .summary .info li .socials svg {
  height: 24px;
  width: 24px
}

.contact .content .summary .info li span {
  width: 100px;
  margin-right: 20px;
  color: var(--pure-white)
}

.contact .content .summary .media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 330px
}

.contact .content .summary .media img {
  transform: translateY(-2px)
}
