.product-card {
    height: 350px;
    width: 250px;
    background: var(--pure-white);
    display: flex;
    flex-direction: column;
    border: solid 5px #009EDB;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.product-card .product-image {
    display: flex;
    justify-content: center;
}

.product-card .product-image img {
    height: 205px;
    width: 200px;
    border-radius: 15px;
}

.product-card .product-bottom{
    display: flex;
    justify-content: space-between;
}
.product-card .product-bottom .product-add{
    display: flex;
    flex-direction: column-reverse;
}

.product-cart .product-bottom .product-add .quantity{
    display: flex;
    flex-direction: row-reverse;
}
