.product-view{
    width: 50%;
    height: auto;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 5px solid #009EDB;
    margin-top: 25px;
}

.product-view .product-image img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.product-view .product-bottom{
    display: flex;
    justify-content: space-between;
}
.product-view .product-add{
    display: flex;
    flex-direction: column-reverse;
}